body { overflow: hidden;
    margin:0; padding:0; background-color: black;
    font-size: 12px; font-family: Tahoma, sans-serif; 
}
canvas.fract { width: 100%; height: 600px; margin: 0; }
.all { border: 1px solid orange; }
.info { padding: 5px; background-color: rgba(255,255,255,.85); border-radius: 5px; }
.progressBar { 
    height: 5px; 
    background: linear-gradient(to bottom, white, black); 
    color: red;
    border-radius: 5px; 
    border: 1px solid orange;
}
.progress { 
    height: 5px; 
    width: 100%;
    background-image: webkit-linear-gradient(to bottom, white, black);
    border-radius: 5px; 
    border: 1px solid orange;
}
.green { border: 1px solid green; }
.busy { border-color: orange !important; }