
body { 
    margin:0; padding:0; background-color: black;
    font-size: 12px; font-family: Tahoma, sans-serif; 
}
h1 { font-size: 16px; }
h2 { font-size: 14px; }
body, div { margin: 0; padding: 0; }

canvas.fract { width: 100%; height: 600px; margin: 0; }
.all { border: 1px solid orange; }
.info { padding: 5px; background-color: rgba(255,255,255,.75) }
.progressBar { height: 5px; background: linear-gradient(to bottom, white, black); border: 1px solid orange; }

div.infos, div.api { display: inline-block; width: 49%; margin: 0; padding: 5px; min-height: 100px; background-color: white; }
div.infos { float: left; }
div.api { float: right; }
ul.api { display: inline-block; margin-top: 0; margin-left: -40px; }
img { border: 1px solid black;  }